<div class="row">
   <%= devise_error_messages! %>
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html:{class: "well"}) do |f| %>

      <fieldset>
        <legend>Edit <%= resource_name.to_s.humanize %></legend>
        
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :profile_name %>

        <%= f.input :email %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.input :password, label:"New password: </br> (leave blank if you don't want to change it)"%>

        <%= f.input :password_confirmation %>

        <%= f.input :current_password, label:"Current password: </br> (we need your current password to confirm your changes)" %>

        <div><%= f.button :submit, "Update" %></div>

      </fieldset>
    <% end %>

    <div class="well">
      <fieldset>
        <legend>Cancel my account</legend>
        Are you unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
      </fieldset>
</div>

    <%= link_to "Back", :back %>
  </div>

  <div class="span6">
    <h2>Edit your user account information</h2>
  </div>
</div>
